<!DOCTYPE html>
<html lang="en">
  
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content=
            "width=device-width, initial-scale=1.0">
        <title>Data Visualization App</title>
	<link rel="stylesheet" href="static/base.css"/>
	<script defer src="https://pyscript.net/latest/pyscript.js"></script>
    </head>
    <body>
        <nav>
            <div class="heading">Data Visualization App</div>
            <div class="navbar">
                <ul>
                    <li><a href="{{ url_for('main.index') }}">Home</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('main.profile') }}">Profile</a></li>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    <li><a href="{{ url_for('auth.signup') }}">Signup</a></li>
		    <li><a href="{{ url_for('auth.demo_app') }}">Demo</a></li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    <li><a href="{{ url_for('auth.upload') }}">Get Started</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="hero-body">
            <div>
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </body>
</html>
