{% extends "base.html" %}

{% block content %}
<body>
  <div class="login-container">
      <div class="box">
	<h2>Login</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <div class="danger">
          {{ messages[0] }}
          </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
          <div class="field">
            <input type="email" name="email" placeholder="Your Email" autofocus="">
          </div>
          <div class="field">
            <input type="password" name="password" placeholder="Your Password">
          </div>
          <div class="field">
              <input type="checkbox" id="box-1">
	      <label for="box-1">Remember me</label>
          </div>
          <button class="button">Login</button>
        </form>
      </div>
  </div>
</body>
{% endblock %}
