<html>
  <head>
    <title>Data Chart</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
  </head>
  <body>

    <py-config>
      packages = ["matplotlib", "pandas"]
    </py-config>

    <py-script>
      import js
      import pandas as pd
      import matplotlib.pyplot as plt

      from pyodide.http import open_url
      from pyodide.ffi import create_proxy

      url = (
          "https://raw.githubusercontent.com/Cheukting/pyscript-ice-cream/main/bj-products.csv"
      )

      data = pd.read_csv(open_url(url))

      x = "name"
      y = "rating"
      chart = "Horizontal Bar"

      def plot(data, x, y, chart):
          plt.rcParams["figure.figsize"] = (15,10)
          fig, ax = plt.subplots()
          if chart == "Scatter":
              plot = ax.scatter(data[x], data[y], marker="*")
          if chart == "Line":
            plot = ax.plot(data[x], data[y])
          if chart == "Bar":
            plot = ax.bar(data[x], data[y])
          if chart == "Horizontal Bar":
            plot = ax.barh(data[x], data[y])
          if chart == "Histogram":
            plot = ax.hist(data[x])
          plt.title("Data Plot")
          display(fig, target="graph-area", append=False)

      plot(data, x, y, chart)

    </py-script>

    <py-repl>
      data
    </py-repl>

    <div id="graph-area"></div>
  </body>
</html>
