{% extends "base.html" %}

{% block content %}
<div class="login-container">
    <div class="box">
        <h2>Sign Up</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/signup">
            <div class="field">
                <input type="email" name="email" placeholder="Your Email" autofocus="">
            </div>

            <div class="field">
                <input type="text" name="name" placeholder="Your Name" autofocus="">
            </div>

            <div class="field">
                <input type="password" name="password" placeholder="Your Password">
            </div>
            <button class="button">Sign Up</button>
        </form>
    </div>
</div>
{% endblock %}
