{% extends "base.html" %}

{% block content %}
<body>
    <h5 class="title-upload">
        CSV upload successful!
    </h5>
    <div class="x-visual-box">
	<form method="POST" action="" enctype="multipart/form-data">
        <label for="x">X dimension value:</label>
            <select name="x" id="x" class="chart">
            <option hidden selected>Choose X Column</option>
	    {% for col in columns %}
            <option value={{ col }}>{{ col }}</option>
	    {% endfor %}
            </select>
        </form>
    </div>
    <div class="y-visual-box">
	<form method="POST" action="" enctype="multipart/form-data">
        <label for="y">Y dimension value:</label>
            <select name="y" id="y" class="chart">
            <option hidden selected>Choose Y Column</option>
            {% for col in columns %}
            <option value={{ col }}>{{ col }}</option>
            {% endfor %}
            </select>
        </form>
    </div>
    <div class="sub_mit">
      <ul>
        <li><a href="{{ url_for('auth.display') }}">Submit</a></li>
      </ul>
    </div>
</body>
{% endblock %}
